@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background-color: #f1f5f9;
  overflow-x: hidden;
}

:root {
  --nutui-grid-item-content-padding: 0;
  --nutui-input-border-bottom-width: 1px;
  --nutui-input-font-size: 16px;
  --nutui-price-line-font-size: 15px;
  --nutui-price-integer-big-size: 26px;
  --nutui-price-symbol-big-size: 20px;
  --nutui-notify-font-size: 24px;
  --nutui-notify-height: 56px;
}

.app {
  height: 100%;
  position: relative;
}

.main-btn {
  height: 172px !important;
  border-radius: 8px !important;
  font-size: 30px !important;
  font-weight: bold !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.main-btn svg {
  height: 36px !important;
  width: 36px !important;
}

.main-btn.code {
  margin-top: 16px;
}

.product-img {
  padding-button: 50%;
  height: 0;
}

.nut-grid-item__content--center {
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.nut-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.login .nut-overlay, .code .nut-overlay {
  display: none;
}

.detail .nut-price {
  line-height: 56px;
}

.detail .nut-price__symbol-large {
  font-size: 36px;
}

.detail .nut-price__integer-large {
  font-size: 56px;
}

.detail .nut-price__decimal-large {
  font-size: 36px;
}

.detail .nut-price--line div {
  font-size: 24px !important;
}

.cart .nut-inputnumber div,
.cart .nut-icon {
  width: 28px;
  height: 28px;
}

.nut-popup__close-icon .nut-icon-Close {
  width: 18px !important;
  height: 18px !important;
}

.nut-popup .nut-popup__close-icon {
  top: 18px !important;
  right: 18px !important;
}

.detail .nut-button,
.cart .nut-button {
  font-size: 18px;
  width: unset;
  padding: 16px 32px;
}

.app .nut-badge__sup {
  top: 4px !important;
  right: 16px !important;
  font-size: 20px;
  line-height: 24px;
}

.app .cart-float {
  width: 50px;
}

.cart .nut-image{
  display: inline-block;
}

.nut-toast__overlay-default{
  z-index: 3000 !important;
}

.tw-bg-emerald-500{
  background-color: #10b981;
}

.tw-text-white{
  color: #fff;
}

.tw-bg-white{
  background-color: #fff;
}

.tw-bg-slate-100 {
  background-color: #f1f5f9;
}

.tw-border-slate-300{
  border-color: #cbd5e1;
}